<!--<link href="http://statics.1024tools.com/css/markdown/github.css" rel="stylesheet" />-->
<html>
<body bgcolor="#d0d0d0">
<h1 id="data-processer">Data-Processer</h1>
<h2>Author:@wenkai.hou,@yongzhi.shao,@bo.yang</h2>
<h2 id="-">简介</h2>
<h5 id="1-data-processer-">1、Data-Processer是什么？</h5>
<p>  他是一个模拟数据生成器。我们在测试过程中，产生完整、全面的真实数据可能比较困难。
    我们可以根据需求，创建对应的模版和词典，利用数据模拟生成器生成我们需要的模拟数据。</p>
<h5 id="2-data-processer-">2、Data-Processer能做什么？</h5>
<p>  他能够根据构建的模版和词典，生成我们需要的数据。kafka需要的数据，hive中文件存储数据，接口中JSON数据等等，只要有数据格式，都可以设置成需要的模板。</p>
<h5 id="data-processer-">Data-Processer三个应用场景：</h5>
<ul>
    <li><p>测试场景</p>
        <p>测试过程中，我们需要验证数据后端的功能或性能，此时，需要降低与数据产生端的耦合，那么需要一个稳定优秀的数据生成器，来持续的不间断的产生正确的数据，和特殊情况下的异常数据。</p>
    </li>
    <li><p>持续集成场景</p>
        <p>在整个持续集成场景中，一个或多个模块组成一个平台，需要有源源不断的数据进入持续集成环境，用以自动化地完成测试和迭代工作，使用Data-Processer则可以通过数据样本的指定和简单的编码，非常简单地完成这个需求。</p>
    </li>
    <li><p>生产场景</p>
        <p>在一个项目完成测试和迭代，发布到生产环境之后，通常也需要进行持续的功能或可用性监测，那么则需要有各种正常或异常数据按照某种规则和定义，持续稳定地生产并送回平台，此时将持续集成场景中的case，只需通过简单配置，则可以进行生产的验证，以满足这个需求。</p>
    </li>
</ul>
<h5 id="3-">3、架构</h5>
<p>  数据生成器包括：模版变量提取，模版变量执行，模版变量替换三部分组成.</p>
<h5 id="4-">4、术语：</h5>
<ul>
    <li>函数变量:模版和词典中以<code>&quot;$FUNC{&quot;</code>开头,以<code>&quot;}&quot;</code>结尾的字符串是一个函数变量.形如：<code>$FUNC{intRand()}</code>. 其中,intRand()为内置函数. 支持函数嵌套.</li>
    <li>模板变量：模版中以<code>&quot;$REF{&quot;</code>开头，以<code>&quot;}&quot;</code>结尾的字符串是一个词典变量。形如：<code>$REF{name}</code>,其中，name为词典中的一个词典名。
        example:<code>$FUNC{name($REF{name1})}</code>         </li>
</ul>
<h5 id="5-">5、内置函数</h5>
<ul>
    <li><p>可调用任意python基本函数,支持pyhton风格的函数传参.<br>Example:<code>$FUNC{name(a=1,b=2)}</code></p>
    </li>
    <li><p>eval(str)<br>可执行任意python语句的表达式,若无法执行,则返回原值.<br>Example:<code>eval(1+2)</code></p>
    </li>
    <li><p>concat(*args)<br>将传入的参数列表作为字符串拼接.</p>
    </li>
    <li><p>concat_ws(tag, *args)<br>将传入的参数列表按照指定的分隔符拼接.</p>
    </li>
    <li><p>Faker 模块中的任意mock数据的方法(目前faker的locate在这里被设置为了<code>zh-ch</code>,暂不支持变更locate).<br>详见<code>https://pypi.org/project/Faker/</code><br>中文相关文档<code>https://zhuanlan.zhihu.com/p/87203290</code></p>
    </li>
    <li><p>name(arg=None)若传入值,则返回传入值.否则随机生成name.</p>
    </li>
    <li><p>company(arg=None)<br>获取公司名称,若传入参数,则返回传入值,否则将随机生成.</p>
    </li>
    <li><p>age(arg=None)<br>获取随机的年龄,若传入参数,则返回传入值,否则将随机生成15~60内的数字.</p>
    </li>
    <li><p>Id(arg=None)<br>获取随机的ID,若传入参数,则返回传入值,否则将随机生成111111111111111111~911111111111111111内的数字.</p>
    </li>
    <li><p>timeNow(arg=None)<br>若传入参数,则返回传入值,否则将生成当前时间的时分秒.</p>
    </li>
    <li><p>dateNow(arg=None)<br>若传入参数,则返回传入值,否则将生成当前时间的年月日.</p>
    </li>
    <li><p>dateTimeNow(arg=None)<br>若传入参数,则返回传入值,否则将生成当前时间的年月日时分秒.</p>
    </li>
    <li><p>quote_escaped(str_val)<br>将文字中的没有被转义的单引号与双引号进行转义.</p>
    </li>
    <li><p>quote_replacement(str_val)<br>将字符串中的 $ 与 \ 进行转义.</p>
    </li>
    <li><p>range_id(start=None, end=None)<br>产生 start ~ end 之间的随机数,start缺省则取值为0,end缺省则取值为9223372036854775807</p>
    </li>
    <li><p>random_enum(*args)<br>随机返回传入的参数列表中的其中一个值</p>
    </li>
</ul>
<h5 id="6-">6、怎么用？</h5>
<p>请使用post请求:<p>
<li>http://host:port/mockData  产生N条不一样的数据.</li>
<li>http://host:port/mockData/allsame  产生N条一样的数据.</li>
<br>
<p>下面是一个DEMO演示. (服务部署于: host=192.168.177.108,port=8001)</p>
<p>body：</p>
<pre><code class="lang-json">{
    &quot;content&quot;: &quot;INSERT INTO table_name (name,age,dateTime) VALUES (&#39;$FUNC{name($REF{p1})}&#39;, $FUNC{age()}, &#39;$FUNC{dateTimeNow()}&#39;)&quot;,
    &quot;numb&quot;: 5,
    &quot;function_dic&quot;:{&quot;p1&quot;:&quot;$FUNC{name()}&quot;}
}
</code></pre>
<p>response:</p>
<pre><code class="lang-json">{
    &quot;result&quot;: [
        &quot;INSERT INTO table_name (name,age,dateTime) VALUES (&#39;梁强&#39;, 23, &#39;2020-07-31 00:35:55&#39;)&quot;,
        &quot;INSERT INTO table_name (name,age,dateTime) VALUES (&#39;梁强&#39;, 20, &#39;2020-07-31 00:35:55&#39;)&quot;,
        &quot;INSERT INTO table_name (name,age,dateTime) VALUES (&#39;梁强&#39;, 39, &#39;2020-07-31 00:35:55&#39;)&quot;,
        &quot;INSERT INTO table_name (name,age,dateTime) VALUES (&#39;梁强&#39;, 27, &#39;2020-07-31 00:35:55&#39;)&quot;,
        &quot;INSERT INTO table_name (name,age,dateTime) VALUES (&#39;梁强&#39;, 27, &#39;2020-07-31 00:35:55&#39;)&quot;
    ],
    &quot;num&quot;: 5,
    &quot;dateTime&quot;: &quot;2020-07-31 00:35:55&quot;
}
</code></pre>
<p>请求参数描述如下:  </p>
<ul>
    <li><code>content</code> 待替换的模板</li>
    <li><code>numb</code> 一次生成多少条数据,一次生成不能超过1W条</li>
    <li><code>function_dic</code> 模板方法列表,模板方法可以保证在一次mock数据的过程中,同样的模板生成的值始终相同.
        该参数可缺省,若缺省该参数,则不执行模板替换.若传入了该参数,但是传入的字典中没有<code>content</code>中出现的待替换的模板,则异常.暂不支持模板方法内使用<code>&quot;$REF{&quot;</code>引用其他的模板方法</li>
</ul>

</body>
</html>
